export SOFTACULOUS_API_KEY="XXXXXX"
export SOFTACULOUS_API_PASSWORD="YYYYYYYYYYYYYYYYYY"
export SOFTACULOUS_URL="https://URL:PORT"
export SOFTACULOUS_SCRAPE_SCHEDULE=10
export SOFTACULOUS_IGNORE_SSL=false
